section {
    padding-top: 50px;
    padding-bottom: 50px;

}

.section-two {
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
}

.flex {
    display: flex;
}

.orange-color {
    color: orange;

}

.top-taxt {
    font-size: 40px;
    padding: 2px 2px;
    margin-top: -20px;
    margin-bottom: 15px;



}

.top-taxt1 {
    font-size: 40px;
    padding: 2px 2px;
    margin-bottom: 15px;
    margin-top: -20px;

}

.mid-taxt {

    margin-bottom: 50px;

}

.mid-taxt-one {

    margin-bottom: 70px;
}

.hulf-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.pic-one {
    width: 60%;
    margin: 10px 10px;

}

.button {
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 10px;

}

.button-two {
    text-align: center;
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 10px;


}

.pic {
    width: 100%;
    margin-right: 20px;
    margin-top: 50px;
}

.pic-two {
    width: 400px;
    margin-left: 30px;
    margin-top: 25px;
}

.mid-taxt1 {
    font-size: 30px;
    color: gray;
    margin-top: 120px;

}

.mid-taxt2 {
    text-align: center;
    margin-bottom: 10px;

}

.mid-div {
    text-align: center;
    margin-left: 250px;
    margin-top: 20px;
}

.cards {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.card {
    width: 50%;
    padding: 50px;
    box-shadow: 5px 5px 20px gray;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 10px;

}

.card-image {
    width: 100%;
}

.media {
    width: 900px;
    display: flex;
    margin: 0 auto;
    padding: 50px;
    box-shadow: 5px 5px 20px gray;
    border-radius: 20px;
    margin: 0 auto;
}

.media-card {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;

}

footer {

    background-color: black;
    padding-top: 50px;
    padding-bottom: 80px;

}

.bottom {
    text-align: center;
    color: white;
}

.bottom-h3 {
    color: orange;
}

.gray-text {
    color: gray;
}